# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**  
- List popular libraries used by data scientists
- List popular languages used by data scientists
- Perform arithmetic operations

Some of the commonly used languages used by Data Scientists include: 
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Keras

| Data Science Tools |
| ------------------- |
| RStudio | 
| Apache Spark |
| Tensor Flow

###  Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60 
200/60

3.3333333333333335

## Author: 
Shafi Khan